<!DOCTYPE html>

<!-- Thymleaf 처리엔진이, 이 파일을 처리하려면 아래와 같이 
이름공간(Namespace, 줄여서 ns)을 우선 선언해야 합니다. -->

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>hello6.html</title>
</head>

<body>
    <h3>/templates/hello6.html</h3>
    <hr>

	<h3>타임리프에서 반복출현하는 모델속성명 생략하기(th:object)</h3>
	
	<h4>이전에는 아래와 같이 모델속성들을 출력했는데...</h4>
	<p>
		<span>이름: [[ ${PERSON.name} ]]</span><br>
		<span>나이: [[ ${PERSON.age} ]]</span>
	</p>
	<hr>
	
	<h4>th:object속성과 *{}기호를 이용해서, 반복출현하는 모델속성명을 생략하자!</h4>
	<p th:object="${PERSON}">
		<span>이름1: [[ *{name} ]]</span><br>
		<span>나이1: [[ *{age} ]]</span>
	</p>
    
</body>

</html>
